:root {
  --angular-red: #dd0031;
  --soft-pink: #ffc0cb;
  --purple: #a000ff;
  --fuchsia: #e91e63;
  --pastel-pink: #ffe4e1;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-areas:
            "header header header"
            "sidebar content content"
            "footer footer footer";
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 200px 1fr 100px;
  min-height: 100vh;
}

h1 {
    color: #006241;
}

.container header {
  background-color:  #ffffff;
  color: black;
  grid-area: header;
  border-bottom: solid 1px #9c9c9c;
}

.container aside {
  background-color: #d4e9e2; 
  color: azure;
  grid-area: sidebar;
}

.container main {
  background-color: #ffffff; 
  grid-area: content;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(400px, auto);
    margin: 0 auto;
    width: 530px;
}

.content div:nth-child(1) {
    background-color: #006241;
}

.content div:nth-child(2) {
    background-color: #dff9ba;
}

.container footer {
  grid-area: footer;
  color: black;
  border-top: solid 1px #9c9c9c;
  text-align: center;
  font-size: 0.852rem;
  padding-top: 2rem;
}
