:root {
  --angular-red: #dd0031;
  --soft-pink: #ffc0cb;
  --purple: #a000ff;
  --fuchsia: #e91e63;
  --pastel-pink: #ffe4e1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 200px 1fr 100px;
  min-height: 100vh;
}

.title {
  color: #006241;
  padding: 0rem 1.5rem;
}

.sub-title {
  font-size: 1.2rem;
  padding: 0rem 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: black;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #4b4b4b;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #006241;
}

.login-btn {
  background-color: #1e3932;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #dff9ba;
  color: white;
}

.container header {
  background-color: #ffffff;
  color: black;
  grid-area: header;
  border-bottom: solid 1px #e4e4e4;
}

.container aside {
  background-color: #d4e9e2;
  grid-area: sidebar;
}

.container main {
  background-color: #ffffff;
  grid-area: content;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
  margin: 0 auto;
  width: 530px;
}

.content div:nth-child(1) {
  background-color: #006241;
}

.content div:nth-child(2) {
  background-color: #dff9ba;
}

.container footer {
  grid-area: footer;
  color: black;
  border-top: solid 1px #e4e4e4;
  text-align: center;
  font-size: 0.852rem;
  padding-top: 2rem;
}

/* sidebar */

.sidebar {
  padding: 15px;
  border-radius: 10px;
  width: 250px;
}

.sidebar h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #000000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  padding-top: 1rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: #4b4b4b;
  font-weight: bold;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: #006241;
}


@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      text-align: center;
  }
}